.water-bg-root-particles {
  position: fixed;
  z-index: 0;
  left: 0; top: 0; right: 0; bottom: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  background: #fff;
  transition: background 0.7s;
}

.water-bg-canvas {
  position: absolute;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none;
}
